.feature-banner{
  width: 100%;
  height: 300px;
/*  background: radial-gradient(circle, #674ab3, #a348a6, #9f63c4, #9075d8, #cea2d7);*/
  background: url("../feature/gif.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
/*  background: #a348a6;*/

}

/*rot-img*/
.rot-img{
/*  width: 170px;*/
  width: 50px;
  height: 50px;
/*  height: 170px;*/
  border-radius: 100%;
  overflow: hidden;
  padding: 25px;
/*  background: #9075d8;*/
background: linear-gradient(to left, #674ab3, #9f63c4, #9075d8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  position: absolute;
  z-index: 1;

}
.rot-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.rot-img:hover{
  padding: 0;
  width: 170px;
  height: 170px;
}
.circ1{
  width: 210px;
  height: 210px;
  border-radius: 100%;
  background: #9075d8;
  position: absolute;
  transition: 0.3s;
}





/*feature-cont-radio*/
.feature-cont-radio{
  width: 100%;
  height: auto;
/*  height: auto;*/
  background: #f7f7f7;
  padding: 20px 50px;
}

.feature-slider{
  width: 100%;
  height: 500px;
/*  background: pink;*/
}


  swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
/*      background: #fff;*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/*.feature1*/
.feature1{
  width: 100%;
  height: 100%;
/*  background: lightgrey;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Poppins',sans-serif;
}


.fe-img{
  width: 700px;
/*  min-width: 400px;*/
/*  max-width: 400px;*/
  height: 100%;

}
.fe-img img{
  width: 100%;
  height: 100%;
}

.move-left img{
  object-position: left;
}

.feature-cont-details{
  min-width: 600px;
  max-width: 600px;
  width: 100%;
  height: 100%;
/*  background: pink;*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 0 40px;
  font-size: 15px;
}
.feature-cont-details p{
/*  font-weight: 100!important;*/
  color: #000000;

}
.feature1 .fe-head-text{
  width: 100%;
  height: 60px;
/*  color: #f05a22;*/
/*  color: #0470C1;*/
/*  color: #64ffda;*/
  position: relative;
/*  filter: drop-shadow(1px 1px #15B5E8);*/


  



}
.fe-head-text h1{
  position: absolute;
  left: -115px;
  font-weight: 900;
  font-size: 50px;
  color: #7579ff;
/*  color: #ADD8E6;*/
/*  padding: 8px 25px;*/
filter: drop-shadow(0px 3px 2px #4a536b);
}
.fe-btn{
  width: 100%;
  margin-top: 40px;
}
.fe-btn button{
  width: 200px;
  height: 45px;
  border: 1px solid #7579ff;
  background: transparent;
  color: #7579ff;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  position: relative;
  border-radius: 5px;
  transition: 0.4s;
}
.fe-btn button::after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #7579ff;
  transition: 0.4s;
  z-index: -1;
}
.fe-btn button:hover::after{
  width: 100%;
}
.fe-btn button:hover{
  color: #fff;
  cursor: pointer;


}

/*card-conts*/


.card-conts{
  width: 100%;
  height: auto;
/*  background: pink;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  
}
.card-holder-cont{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
/*  background: pink;*/
}
.feature-courses{
  width: 100%;
  height: 90px;
  padding-left: 25px;
}
.feature-courses h1{
  font-size: 30px;
}

.card{
  color: #000;
  width: 350px;
  height: 350px;
  margin: 7px;
  transition: 0.3s;
}
  
.card:hover{
  transform: translateY(-5px);
}  

.card-body{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  color: #fff;

}
.card-body h5{
  font-size: 25px;
  border-left: 5px solid #170B3B;
  padding-left: 10px;
  color: #170B3B;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
}

.card-img-top{
  width: 100%;
  height: 200px;
  background: transparent;
/*  border-radius: 10px;*/
  color:#170B3B;
  border: 1px solid #fff;
  overflow: hidden;


}
.card-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-btn button{
  width: 150px;
/*  background: pink;*/
  position: relative;
  border-radius: 5px;
  background: #7579ff;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


}

.card-btn .active{
  border-radius: 5px;
  border: 1px solid #7579ff;
  background: transparent;
  color: #7579ff;

}
.card-btn button:hover{
    background: #7579ff;
    color: #fff;
    transform: translateY(-5px);

}


/*modal-body*/
.modal-body{
  color: #000;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

}
.modal-body li{
  list-style: none;
  width: 100%;
  padding-right: 15px;
}
.modal-body label{
  font-weight: bold;
}

.modal-footer button{
  border-radius: 5px;
  background: #7579ff;
  border: 1px solid #fff;
  color: #fff;
  width: 120px;
}
.modal-footer button:hover{
  background: transparent;
  color: #7579ff;
  border: 1px solid #7579ff;
}

.modal-header{
  background: #7579ff;
  color: #fff;
}

/*modal-title*/
.modal-title{
  color: #fff;
}

.modal-footer{
  border-top: 1px solid #7579ff!important;
}


/*acc-img*/
.acc-img{
  width: 100%;
  height: 400px;
  background: #f7f7f7;
  margin: 5px;
  margin-bottom: 20px;
}
.acc-img-hide{
  display: none;
}
.acc-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mod-left-img{
  display: flex;
  flex-direction: column;

}








/*Media  Q*/
@media (max-width:1000px){
  .feature1{
    position: relative;
  }
  .fe-img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .feature-cont-details{
    max-width: 100%;
    min-width: 100%;
    /* From https://css.glass */
    background: rgba(39, 10, 86, 0.38);
  /*  border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(39, 10, 86, 0.3);
  }
  .fe-head-text ,.fea-text-cont,.fe-btn{
    width: 100%;
  }
  .fe-head-text h1{
    left: 0;
  }
  .fea-text-cont p{
    color: #fff;
    font-size: 16px;
  }
  .fe-btn button{
    background: #7579ff;
    color: #fff;
  }
  .fe-btn button::after{
    background: #fff;
  }
  .fe-btn button:hover::after{
    color: #7579ff;
  }
}

@media (max-width:727px){
  .feature-cont-radio{
    padding: 0px;
  }
}

@media (max-width:404px){
  .feature-cont-details{
    padding: 0 15px;
  }
  .fe-head-text h1{
    margin-top: -30px;
  }
  .feature1{
/*    height: auto;*/
  }
}

@media (max-width:454px){
  .card-conts{
    padding: 50px 10px;
  }
}


@media (max-width:824px){
  .card{
    max-width: 100%;
    height: auto;
  }
  .card-body img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right;
  }
  .card-btn{
    margin-top: 20px;
  }
}

@media (max-width:880px){
  .card-holder-cont{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .card{
    width: 350px;
  }

}

@media(max-width:580px){
  .modal-body{
    flex-direction: column-reverse;
    padding: 10px 10px!important;
  }
  .acc-img{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  .acc-img img{
    height: 100%;
    object-position: co;

  }
  .acc-img-hide{
    display: none;
  }
  .modal-body li{
    padding-right: 0px;
  }
  .modal-body p{
    font-size: 13px;
  }
}


